body {
    background-color: black;
}

.minesweeper {
    border-top: 10px solid gray;
    border-left: 10px solid gray;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 50vw;
    margin: auto;
    width: 50vw;
}
  
.row {
    display: inline-flex;
    flex: 1;
    flex-direction: row;
    border-bottom: 0.4em dotted;
    background-color: #b9b9b9;
    box-sizing: border-box;
}

.cell {
    background-color: #b9b9b9;
    flex: 1;
    display: flex;
    border-right: 0.4em dotted;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.cell img {
    width: 60%;
}

#hollow {
    width: 300%;
}
