body {
    background-color: black;
}

.minesweeper {
    border-top: 20px solid gray;
    border-left: 20px solid gray;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 50vw;
    margin: auto;
    width: 50vw;
}
  
.row {
    display: inline-flex;
    flex: 1;
    flex-direction: row;
    border-bottom: 0.4em dotted;
    background-color: #b9b9b9;
    box-sizing: border-box;
}

.cell {
    background-color: #b9b9b9;
    flex: 1;
    display: flex;
    border-right: 0.4em dotted;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.cell img {
    width: 60%;
}

#hollow {
    height: 105%;
    width: 105%;   
}

#hollow:hover {
    opacity: 0;
}

#play1 {
    display: initial;
    background: url(images/one.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#play2 {
    display: initial;
    background: url(images/two.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#play3 {
    display: initial;
    background-image: url(images/three.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#play0 {
    display: initial;
    background: inherit;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}